<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <title>Pet Fax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Welcome to PetFax</h1>
    <div class="pet_home">
        {% for pet in pets %}
        <div class="pet_block">
            <h2>{{ pet.pet_name }}</h2>
            <a href="/pets/{{ pet.pet_id }}">Learn More</a><br>
            <img src="{{ pet.pet_photo }}" alt="Photo of pet" />
        </div>
        {% endfor %}
    </div>

    <div class="pet_facts">
        Have more fun pet facts? <a href="/pets/new">Submit here.</a>
    </div>

</body>

</html>