<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Fax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <a href="/pets">Home</a>
    <div class="pet_single">

        <h1>{{ pet.pet_name }}</h1>
        <h3>{{ pet.pet_fact }}</h3>
        <img src="{{ pet.pet_photo }}" alt="Photo of pet" />
        <br>
    </div>

</body>

</html>